<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="UIMReachBeforeLoginApp">

<head>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{http://static.uimirror.com/reach/favicon.ico}" />
    <title th:text="#{reach.before.login.title}">Identify YourSelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Reach Application for running promo"/>
    <meta name="author" content="UIMirror"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>
<div th:fragment="notiTemp">
<div class="uim-noti-template" ng-click="$close()" ng-class="$classes">
	<span ng-click="$close()" class="pull-right"><i class="fa fa-times"></i></span>
	<span ng-show="!$messageTemplate">{{$message}}</span>
    <span ng-show="$messageTemplate" class="cg-notify-message-template"></span>
</div>
</div>
</body>
</html>