@charset "utf-8";

/*
Description: spacing buttons css comes here
Author: Tanishka Raut
Version: 1.0
--------------------
h - horizon
s - space
p, m - padding, margin
t, r, b, l - top, right, bottom, left
h,v - all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)

*/

.hS5, .hS10, .hS15, .hS20, .hS30, .hS40, .hS50 {
	font-size:0px;
	clear:both;
}
.hS5 {
	height:5px;
}
.hS10 {
	height:10px;
}
.hS15 {
	height:15px;
}
.hS20 {
	height:20px;
}
.hS30 {
	height:30px;
}
.hS40 {
	height:40px;
}
.hS50 {
	height:50px;
}
.mpZero {
	margin:0;
	padding:0;
}
.mAuto {
	margin:0 auto;
}




.mt-style1 {
	margin-top:6px;
}
.mb-style1 {
	margin-bottom:-6px;
}
.ml-style1 {
	margin-left:-8px;
}
.pt0{ padding-top:0 !important;}
.pb0{ padding-bottom:0 !important;}
.pt2{ padding-top:2px;}
.pb2{ padding-bottom:2px;}
.pt3{ padding-top:3px;}
.pb3{ padding-bottom:3px;}
.pt4{ padding-top:4px;}
.pb4{ padding-bottom:4px;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pt10{ padding-top:10px;}
.pb12{ padding-bottom:12px;}
.pt12{ padding-top:12px;}
.pb15{ padding-bottom:15px;}
.pt15{ padding-top:15px;}
.pb20{ padding-bottom:20px;}
.pt20{ padding-top:20px;}
.pb25{ padding-bottom:25px;}
.pt25{ padding-top:25px;}
.pb35{ padding-bottom:35px;}
.pt35{ padding-top:35px;}
.pt40{ padding-top:40px;}
.pb40{ padding-bottom:40px;}
.plrmd1525{ padding-left:30px; padding-right:30px;}
.pl5{ padding-left:5px;}
.pr5{ padding-right:5px;}
.pl10{ padding-left:10px;}
.pr10{ padding-right:10px;}
.pl12{ padding-left:12px;}
.pr12{ padding-right:12px;}
.pl15{ padding-left:15px;}
.pr15{ padding-right:15px;}
.pl20{ padding-left:20px;}
.pr20{ padding-right:20px;}
.pl25{ padding-left:25px;}
.pl30 {padding-left:30px;}
.pr25{ padding-right:25px;}
.pl35{ padding-left:35px;}
.pr35{ padding-right:35px;}
.pl40{ padding-left:40px;}
.pr40{ padding-right:40px;}
.pl22{ padding-left:22px;}
.pr0{ padding-right:0;}
.pa5{ padding:5px;}
.pa8{ padding:8px;}
._pr2{ padding-right:-2px !important;}
._pb10{ padding-bottom:-10px !important;}






.mr0{ margin-right:0px !important;}
.ml0{ margin-left:0 !important;}
.mt0{ margin-top:0px !important;}
.mb0{ margin-bottom:0 !important;}
.mt1{ margin-top:1px;}
.mt2{ margin-top:2px;}
.mt3{ margin-top:3px;}
.mt4{ margin-top:4px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mb1 {margin-bottom:1px;}
.mb2 {margin-bottom:2px;}
.mb3 {margin-bottom:3px;}
.mb4 {margin-bottom:4px;}
.mb5 {margin-bottom:5px;}
.mb8 {margin-bottom:8px;}
.mb10 {margin-bottom:10px;}
.mb12 {margin-bottom:12px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40{ margin-bottom:40px;}

.ml1{ margin-left:1px;}
.ml2{ margin-left:2px;}
.ml3{ margin-left:3px;}
.ml4{ margin-left:4px;}
.ml5{ margin-left:5px;}
.ml8{ margin-left:8px;}
.ml10{ margin-left:10px;}
.ml12{ margin-left:12px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}

.mr1{ margin-right:1px;}
.mr2{ margin-right:2px;}
.mr3{ margin-right:3px;}
.mr4{ margin-right:4px;}
.mr5{ margin-right:5px;}
.mr8{ margin-right:8px;}
.mr10{ margin-right:10px;}
.mr12{ margin-right:12px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}



.dn { display: none; }
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }

.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.vab { vertical-align: bottom; }
