<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="UIMReachBeforeLoginApp">

<head>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{http://static.uimirror.com/reach/favicon.ico}" />
    <title th:text="#{reach.before.login.title}">Identify YourSelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Reach Application for running promo"/>
    <meta name="author" content="UIMirror"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Css Declarations -->    
    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" th:href="@{/static/css/vendor/bootstrap.min.css}"/>
    <!-- Custom CSS -->
    <link th:href="@{/static/css/beforelogin/startapp.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/vendor/angular-notify.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/font-awesome-4.2.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div id="wrap">
		<!-- Navigation -->
		<nav class="navbar uim_r_head_wrap" role="navigation" style="margin-bottom: 0">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand uim_r_logo" th:href="@{//reach.uimirror.com}">
						<img th:attr="src=@{/image/logo/reach_logo_75.png},title=#{logo},alt=#{logo}" class="logo"/>
					</a>
				</div>
				<!-- /.navbar-header -->
				<div class="pull-right headerSignUp">
					<button type="button " class="btn btn-group-sm navbar-btn uim-btn-sm" 
						ng-controller="SignUpModalCtrl" ng-click="open()" th:text="#{sign.up}"></button>
				</div>
				<div class="navbar-menu navbar-right lgnWrap" ng-controller="LoginCtrl">
				
				<form class="navbar-form  credBox" role="login" method="post" novalidate="true" name="loginForm" ng-submit="login()">
					<div class="form-group">
						<div class="alert alert-danger uim_head_error" role="alert" ng-show="ErrorMessage">
  							<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
  							<span class="sr-only" th:text="#{ErrorMessage}">Error:</span>
  							{{ErrorMessage}}
						</div>
					</div>
 					<div class="form-group">
	 					<div class="input-group input-group-sm">
  							<span class="input-group-addon headerAddOn"><i class="fa fa-user"></i></span>
  							<input type="text" class="form-control" name="userid" th:placeholder="#{login.user.id}"  required="required" focus-on="userNameFcs"
  								ng-model="loginForm.UserName" ng-class="{error: loginForm.userid.$dirty &amp;&amp; loginForm.userid.$invalid &amp;&amp; loginForm.submitted}"/>
						</div>
 					</div>
 					<div class="form-group">
 						<div class="input-group input-group-sm">
  							<span class="input-group-addon headerAddOn"><i class="fa fa-key"></i></span>
  							<input type="password" class="form-control" th:placeholder="#{login.passsword}" name="password" required="required"
  								ng-model="loginForm.Password" ng-class="{error: loginForm.password.$dirty &amp;&amp; loginForm.password.$invalid &amp;&amp; loginForm.submitted}"/>
						</div>
 					</div>
 					<button type="submit" class="btn btn-group-sm uim-btn-sm" th:text="#{sign.in}"
 						ng-disabled="loginForm.$invalid"></button>
 					<div style="clear:left;"></div>
 					<div class="form-group">
   						<div class="forgotPwdWrap"><a href="#" ng-controller="ModalResetPwdCtrl" ng-click="open()" th:text="#{login.need.help}"></a></div>
 					</div>
				</form>
				</div>
			<!-- /.navbar-fixed top -->
			</div>
		</nav><!-- /nav static top -->
		<div class="container contentWrap">
			<div class="row alertRow">
				<div class="alert alert-success dealFindInfo" role="alert" th:utext="#{serach.location.info}"></div>
			</div><!-- /info -->
			<div class="row locationSerachRow">
				<div class="col-sm-4 col-sm-offset-4 f14">
					<div class="row">
						<div class="input-group">
     						<input type="text" class="form-control locationSerach" th:placeholder="#{serach.loc.in.placeholder}"/>
     						<span class="input-group-btn">
       						<button class="btn locationSerachBtn" type="button"><i class="fa fa-search"></i></button>
     						</span>
   						</div><!-- /input-group -->
					</div>
				</div>
			</div><!-- /Serach -->
			<div class="row" >
				<div class="col-sm-4 col-sm-offset-4 f14">
					<div class="row">
						<div style="height:400px; width:400px;">
							<div id="map-canvas"></div>
						</div>
					</div>
				</div>
			</div><!-- /map End -->
		</div>
	</div>
	<!--  <script type="text/ng-template" id="RegisterForm.html">
        
    </script>--><!-- Register Form Modal -->
	<!-- Scripts -->
	
	<script th:inline="javascript">
    /*<![CDATA[*/
    	var URLS = {};
    	URLS.base = [[@{/}]];
    /*]]>*/
	</script>
	<script th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
    <!-- <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js}" type="text/javascript" ></script> -->
    <script th:src="@{/static/scripts/vendor/angular.min.js}" type="text/javascript" ></script>
    <!-- <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js}" type="text/javascript" ></script> -->
    <script th:src="@{/static/scripts/vendor/angular-cookie.js}" type="text/javascript" ></script>
    <!-- <script th:src="@{//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js}"></script> -->
    <script th:src="@{/static/scripts/vendor/ui-bootstrap-tpls-0.12.0.js}" type="text/javascript"></script>
    <!-- <script th:src="@{https://code.angularjs.org/1.3.3/angular-messages.js}" type="text/javascript" ></script> -->
    <script th:src="@{/static/scripts/vendor/angular-messages.js}" type="text/javascript" ></script>
	<script th:src="@{/static/scripts/vendor/angular-notify.js}" type="text/javascript" ></script>
	<!-- <script th:src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
	<script th:src="../js/angular-animate.js" type="text/javascript" ></script> -->
	<script th:src="@{/static/scripts/util/utils.js}" type="text/javascript" ></script>
	<script th:src="@{/static/scripts/util/authentication.js}" type="text/javascript"></script>
	<script th:src="@{/static/scripts/beforelogin/startapp.js}" type="text/javascript" ></script>
	<script th:src="@{/static/scripts/beforelogin/startappcontrollers.js}" type="text/javascript"></script>
	
	<!--google maps API-->
    <script type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true}"></script>
    <script>
    /*function for button*/

    jQuery(window).ready(function(){  
        //jQuery("#btnInit").click(initiate_geolocation);
    	initiate_geolocation();
    });  
    function initiate_geolocation() {  
        navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
    }  
    function handle_geolocation_query(position){
    	if(!position)
    		return;
    var lng = position.coords.longitude;
    var lat = position.coords.latitude;
    var myLatLong = new google.maps.LatLng(lat, lng);
	console.log(''+lat);
        var mapOptions = {
          center: myLatLong,
          zoom: 16
        };
        
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        var image = 'image/logo/reach_logo_75.png';
        var beachMarker = new google.maps.Marker({
            position: myLatLong,
            map: map,
            icon: image,
            draggable:true,
            animation: google.maps.Animation.DROP
        });
        google.maps.event.addListener(beachMarker, 'click', toggleBounce);
      }
    function toggleBounce() {

    	  if (beachMarker.getAnimation() != null) {
    		  beachMarker.setAnimation(null);
    	  } else {
    		  beachMarker.setAnimation(google.maps.Animation.BOUNCE);
    	  }
    	}
      google.maps.event.addDomListener(window, 'load', handle_geolocation_query);  

    </script>

</body>
</html>