body  {
	font-family: "Georgia,Times,serif";
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px;
	padding: 0 0 90px;
}

.uim_r_head_wrap{
	background: #ffcd57;
	/*border-color: #e7e7e7;*/
	height: 60px;
	margin-bottom: 0;
	padding: 5px 0px;
	border-radius:0;
}
.uim_r_logo > .logo{
	clear: left;
	height: 40px;
}
.uim_r_head_wrap > .container{
	padding-right: 0px; 
	padding-left: 0px;
}
.uim_r_head_wrap .headerAddOn{
	background: transparent;
	border: transparent;
}
.uim_r_head_wrap .headerAddOn>.fa{
	color: #00b3f7;
	font-size: 14px;
}
.uim_r_head_wrap .input-group >input{
	height: 24px;
	margin-top: 3px;
	border: 1px solid;
}
.uim_r_head_wrap .input-group >input:focus {
    background-color: #fff;
    border-color: #e8c291;
    box-shadow: 0 0 0 1px #e8c291 inset;
    outline: medium none;
}
.uim_r_logo{
	margin-top: -12px;
}

.uim-btn-sm{
	background: #00b3f7;
	color: #fff;
	padding: 3px 6px;
	font-size: 12px;
}

.navbar-top-links li {
	display: inline-block;
}
.nav > li > a:hover, .nav > li > a:focus{
	background: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: none;
	
}

.noti-wrap a >.fa{
	color:#000000;
}
.noti-wrap a >.fa:hover{
	color:#ffffff;
}


.navbar-top-links li a .badge {
	left: 18px;
	position: absolute;
	top: 0;
	background:#e20303;
}
.navbar-top-links li a {
	color: #ffffff;
	padding-right:10px;
}


/*Header End*/

/*App Header Wrap*/
.uim_h_greet{
	color: #fff;
	font-weight: 800;
	width:150px;
    height:31px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.uim_h_name{
	color: #fff;
}
.uim_h_name:HOVER{
	color: #fff;
	text-decoration: underline;
}

.navbar-center {
    float: left;
    padding: 15px;
    text-align: center;
}
.navbar-center-cont {float:none;}
.navbar-center-cont>a{
	color: #E8E8E8;
}

.navbar-center-cont>a.active{
	color: #FFF;
}
.uim_hd_view_optn{
	color: #FFF;
}
.uim_hd_sep{
	margin-right: 2px;
	margin-left: 2px;
}
	
/*App Header Wrap End*/
/*Sub Menu Starts*/
.sub-menu-container{
	margin-top: -8px;
	display: none;
}
.hasSubmenu.sub-menu-container{
	display: block;
}
.submenu-toggler{
	background-color: transparent;
	padding: 0px;
}
.submenu-toggler:HOVER, .submenu-toggler:FOCUS{
	background-color: transparent;
	outline: none;
}
.submenuwrap {
    padding: 0px 5px 10px;
    margin: 0 auto;
    min-height:35px;
}
.submenuwrap ul.rightmenu {
    margin-bottom: 0;
    text-align: right;
}
.submenuwrap ul.leftmenu {
    margin-bottom: 0;
    text-align: left;
}
.submenuwrap a {
    color: #333; 
    opacity: 0.8;
    font-weight: bold;
}
.submenuwrap a:hover {
    text-decoration: none;
    opacity: 1;
}
.submenu-data-container{
	background-color: #fef3da;
	margin-top:0;
	margin-bottom: 17px;
}
/*Sub Menu end*/
/*Body Start*/
.contentWrap{
	margin-bottom: 20px;
	margin-top: 20px;
}
/*Register Modal*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
/*Map*/
#map-canvas { height: 100%; margin: 0; padding: 0;}

/*Common Validation Messages*/
input.ng-invalid {
  border: 1px solid red !important;
}

.modal-open .modal{
	background-color: #848080;
}

/*Select Box*/
.uimSelect{
	border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.uimSelect select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.uimSelect select:focus {
    outline: none;
}
/*Input Boxes*/
.uim_input{
	height: 24px;
	margin-top: 3px;
	border: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 0 0 0px #e8c291 inset;
	border-radius: 0px;
}
.uim_input:focus{
    background-color: #fff;
    border-color: #e8c291;
    box-shadow: 0 0 0 1px #e8c291 inset;
    outline: medium none;
    border-radius: 6px;
}
.noleftrightpad{
	padding-left: 0px;
	padding-right: 0px;
}
.noleftrightmar{
	margin-left: 0px;
	margin-right: 0px;
}
.locationSerachBtn{
	background:#ffcd57;
	
}
/*Dash Board starts*/
.dashBoardContainer{
	padding-top: 10px;
	margin-top: -27px;
}
.dashBoardContainerWrap{
	border-top: 1px solid #ccc;
}
.dashBoardSettingsContainer{
}
.dashBoardMainContainer{
	border: none;
/* 	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; */
	padding: 5px;
}
.dashBoardUtilityContainer{
	
}

/*Dash Board Left Filter*/
.dashBoardSettingsContainer .header{
	background-color: #55CEF2;
	margin-bottom: 10px;
	font-size: 18px;
	padding:12px 15px;
	color:#ffffff;
}
.filterRow >.row{
	padding-left: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}
.fltrHeadings >.title{
	font-weight: bold;
	background-color: #ccc;
}
.distanceTypeSlWrap{
	font-size: 14px;
}
.fltrHeadings{
	line-height: 14px;
	padding:5px 0 10px 0;
}

.radio, .checkbox {
	display: block;
	min-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:20px;
	margin:0;
	vertical-align: middle;
	border-bottom:1px dashed #94d6f4;
}
.checkbox{
	background:#C9EEFF;
}
.checkbox:hover{
	background:#f0f0f0;
}
.radio+.radio, .checkbox+.checkbox{
	margin:0;
}
.pd5{
	padding:5px;
}
.mr5{
	margin-right:5px;
}
.mr15{
	margin-right:15px;
}
.list-group-item{
	background:#dddddd;
	border:1px solid #f2f2f2;
	padding:12px 15px;
	color:#515a69;	
	font-size:15px;
}
.list-group{
	margin-bottom:0;

}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background:#009285;
	color:#ffffff;
	font-size:18px;
	text-shadow:none;
	border-radius:0;
	border:0;

}
.tooltip-alert {
	border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    border-top-color:#009285;
    border-width: 8px 7px 0;
    bottom: -8px;
    left: 8%;
    margin-left: -5px;
}

/* .mt-12{
	margin-top:-12px;
} */

/* dashboard part star */
.panel-primary{
	border-color:#ededed;
}
.panel-footer{
	background:#ffffff;
}
.panel-primary>.panel-heading {
	color: #000;
	background-color: #f5f5f5;
	border-color:#f5f5f5;
}
.panel-footer{
	padding:0;
}
ul.textview-list{
	padding-left:0;
	list-style:none;
}
.textview-list li{
	border-bottom:1px dashed #ededed;
	padding:10px;
}

.textview-list li:hover{
	background:#f5f5f5;
}
.scroll {
   height: 484px;
   overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width:3px;
}

.scroll::-webkit-scrollbar-track {
   /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
/* dashboard part end */


