<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{http://static.uimirror.com/reach/favicon.ico}" />
    <title th:text="#{reach.before.login.title}">Identify YourSelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Reach Application for running promo"/>
    <meta name="author" content="UIMirror"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
	<div th:fragment="map">
		<div class="row noleftrightmar dashBoardMainContainer">
			<div class="input-group">
     			<input type="text" class="form-control locationSerach" th:placeholder="#{serach.loc.in.placeholder}"/>
     			<span class="input-group-btn">
       			 	<button class="btn locationSerachBtn" type="button"><i class="fa fa-location-arrow"></i></button>
     			</span>
   			</div><!-- /input-group -->
		</div><!-- /Search Input -->
					
		<div class="row noleftrightmar">
			<div style="height:400px; width:842px;">
				<div id="map-canvas"></div>
			</div>
		</div><!-- /Map -->
	</div>
</body>
</html>