<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{http://static.uimirror.com/reach/favicon.ico}" />
    <title th:text="#{reach.before.login.title}">Identify YourSelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Reach Application for running promo"/>
    <meta name="author" content="UIMirror"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
	<div th:fragment="news">
		<div class="row noleftrightmar dashBoardMainContainer">
			<div class="input-group">
     			<input type="text" class="form-control locationSerach" th:placeholder="#{serach.loc.in.placeholder}"/>
     			<span class="input-group-btn">
       			 	<button class="btn locationSerachBtn" type="button"><i class="fa fa-location-arrow"></i></button>
     			</span>
   			</div><!-- /input-group -->
		</div><!-- /Search Input -->
		
		<div class="row pd5">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        
                            <div class="row">
                            <div class="col-sm-12">
                            <i class="fa fa-camera-retro fa-lg"></i>
								Appeal<i class="fa fa-times pull-right black cursor"></i>
                                </div>
                            </div>
                        </div>
                       
                     <div class="panel-footer ">
                     <div class="scroll">
                     <ul class="textview-list">
    					<li>    
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                         </li>
                               
                          <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               
                               
                           <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                        </li>
                               
                        <li>   
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               </ul>
                                  <div class="clearfix"></div>
                       </div> 
                       </div>
                    </div>
                </div>
                
     <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        
                            <div class="row">
                            <div class="col-sm-12">
                            <i class="fa fa-camera-retro fa-lg"></i>
								Appeal<i class="fa fa-times pull-right black cursor"></i>
                                </div>
                            </div>
                        </div>
                       
                     <div class="panel-footer ">
                     <div class="scroll">
                     <ul class="textview-list">
    					<li>    
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                         </li>
                               
                          <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               
                               
                           <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                        </li>
                               
                        <li>   
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               </ul>
                                  <div class="clearfix"></div>
                       </div> 
                       </div>
                    </div>
                </div>
                           




                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        
                            <div class="row">
                            <div class="col-sm-12">
                            <i class="fa fa-camera-retro fa-lg"></i>
								Appeal<i class="fa fa-times pull-right black cursor"></i>
                                </div>
                            </div>
                        </div>
                       
                     <div class="panel-footer ">
                     <div class="scroll">
                     <ul class="textview-list">
    					<li>    
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                         </li>
                               
                          <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               
                               
                           <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                        </li>
                               
                        <li>   
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               </ul>
                                  <div class="clearfix"></div>
                       </div> 
                       </div>
                    </div>
                </div>
                
                
                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                        
                            <div class="row">
                            <div class="col-sm-12">
                            <i class="fa fa-camera-retro fa-lg"></i>
								Appeal<i class="fa fa-times pull-right black cursor"></i>
                                </div>
                            </div>
                        </div>
                       
                     <div class="panel-footer ">
                     <div class="scroll">
                     <ul class="textview-list">
    					<li>    
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                         </li>
                               
                          <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               
                               
                           <li>  
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                        </li>
                               
                        <li>   
    						30% Discount @ Reebok <br></br> 
                            Create Date:<span class="createDate">10/10/14</span><br></br>
                            End Date:<span class="endDate">10/12/14</span>
                          </li>
                               </ul>
                                  <div class="clearfix"></div>
                       </div> 
                       </div>
                    </div>
                </div>
                
                

                
                
                
                <div class="col-lg-12 col-md-6 ">
                <a class="pull-right" href="">Show more <i class="fa fa-angle-double-right"></i>
</a>
                </div>
            </div>
		
		
		
		
			<!-- /text -->
	</div>
</body>
</html>