body  {
	font-family: "Georgia,Times,serif";
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -90px;
	padding: 0 0 90px;
}

.uim_r_head_wrap{
	background: #2f2f2f;
	border-color: #e7e7e7;
	height: 60px;
	margin-bottom: 0;
	padding: 5px 0px;
}
.uim_r_logo > .logo{
	clear: left;
	height: 40px;
}
.uim_r_head_wrap > .container{
	padding-right: 0px; 
	padding-left: 0px;
}
.uim_r_head_wrap .headerAddOn{
	background: transparent;
	border: transparent;
}
.uim_r_head_wrap .headerAddOn>.fa{
	color: #00b3f7;
	font-size: 14px;
}
.uim_r_head_wrap .input-group >input{
	height: 24px;
	margin-top: 3px;
	border: 1px solid;
}
.uim_r_head_wrap .input-group >input:focus {
    background-color: #fff;
    border-color: #e8c291;
    box-shadow: 0 0 0 1px #e8c291 inset;
    outline: medium none;
}
.uim_r_logo{
	margin-top: -12px;
}
.uim_r_head_wrap .lgnWrap{
	margin-right: -8px;
}
.uim-btn-sm{
	background: #00b3f7;
	color: #fff;
	padding: 3px 6px;
	font-size: 12px;
}
.navbar-form.credBox{
	margin-top: 4px;
}
.uim_r_head_wrap .headerSignUp{
	margin-top: -2px;
}
.forgotPwdWrap>a{
	color: #fff;
}
/*Header End*/
/*Body Start*/
.contentWrap{
	margin-bottom: 20px;
	margin-top: 20px;
}
input.locationSerach{
	border: 0px solid;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 0 0px #e8c291 inset;
}
input.locationSerach:focus {
    background-color: #fff;
    border-color: #e8c291;
    box-shadow: 0 0 0 1px #e8c291 inset;
    outline: medium none;
}
.locationSerachBtn{
	color: #ccc;
	background-color: #fff;
	border: 0px solid transparent;
	border-bottom: 1px solid #ccc;
	margin-top: 1px;
}
.locationSerachBtn:focus,.locationSerachBtn:hover{
	color: #fff;
	background-color: #00b3f7;
}
/*Alert*/
.dealFindInfo{
	padding: 5px;
	text-align: center;
}

.locationSerachRow{
	margin-bottom: 30px;
}
.alertRow{
	margin-bottom: 30px;
}

/*Register Modal*/
.modal-header.registerHeaderWrap, .forGotPwdHeaderWrap{
	border-bottom: 0px solid #e5e5e5;
	padding: 0px 15px 0px 15px;
}
.modal-body.registerBodyWrap, .forGotPwdBodyWrap{
	padding: 0px 15px;
}
.modal-footer.registerFooterWrap, .forGotPwdFooterWrap{
	border-top: 0px solid #e5e5e5; 
	padding: 0px 15px 15px 15px;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
label.registerDOBLable, label.registerGendLable { 
    float: left; 
    display: block; 
    padding-bottom: 8px;
	margin-top: 10px;
	margin-right: 8px;
}

.datefield { 
    display: inline; 
    padding: 0.3em; 
    border: 0px solid #CCC; 
    background: #FFF; 
    border-radius: 0px;
    box-shadow: 0 0 0 0px #e8c291 inset;
    border-bottom: 1px solid #CCC;
}

.datefield * { 
    display: inline-block;
}

.datefield input { 
    width: 2.7em; 
    padding: 0 0.4em; 
    border: none; 
    font-size: 100%; 
    background: none;
    color: #000;            
}

.datefield input#year { width:4.5em; }
.datefield input:focus { outline:none; }

.registerForm .form-group >input, 
.forGotPwdBodyWrap input.forgotPwdEmail,
.verifyForm > .verifyCodeWrap >input{
	height: 24px;
	margin-top: 3px;
	border: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 0 0 0px #e8c291 inset;
	border-radius: 0px;
	
}
.registerForm .form-group >input:focus, .forGotPwdBodyWrap input.forgotPwdEmail:focus,
.verifyForm > .verifyCodeWrap >input:focus{
    background-color: #fff;
    border-color: #e8c291;
    box-shadow: 0 0 0 1px #e8c291 inset;
    outline: medium none;
    border-radius: 6px;
}
.uim-btn{
	background: #00b3f7;
	color: #fff;
	padding: 3px 6px;
	font-size: 14px;
}
/*Register Modal end*/
.forGotPwdBodyWrap .emailSyb{
	background-color: #00b3f7;
	color: #fff;
	border: 0px solid #ccc;
}
/*Map*/
#map-canvas { height: 100%; margin: 0; padding: 0;}

/*Common Validation Messages*/
input.ng-invalid {
  border: 1px solid red !important;
}

.modal-open .modal{
	background-color: #848080;
}

/*Verify Page*/
.verifyCodeWrap{
	margin-bottom: 20px;
}
.verifyExtraLabel{
	margin-right: 38px !important;
}

/*Select Box*/
.uimSelect{
	border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.uimSelect select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.uimSelect select:focus {
    outline: none;
}
