<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{http://static.uimirror.com/reach/favicon.ico}" />
    <title th:text="#{reach.before.login.title}">Identify YourSelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Reach Application for running promo"/>
    <meta name="author" content="UIMirror"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
	<div th:fragment="submenu">
		<div class="container-fluid noleftrightpad sub-menu-container hasSubmenu" ng-controller="SubMenuCtrl" 
			th:attr="ng-init='setKeepSubMenuOpen('+${viewSetting.keepSubmenuClose}+')'">
			
				
				<div class="col-sm-6 text-center">
					<button class="btn submenu-toggler" ng-click="setKeepSubMenuOpen(!isSubMenuOpen())">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				
			
			<div class="row submenuwrap submenu-data-container" collapse="isSubMenuOpen()" >
				<div class="clearfix"></div>
				<div class="col-md-6">
					<div>
			            <ul class="list-inline leftmenu">
			                <li><a href="#">Shop Dashboard</a></li>
			                <li><a href="#">Want to Sell Something?</a></li>
			            </ul>   
	    			</div>
				</div>
				<div class="col-md-6">
					<div>
			            <ul class="list-inline rightmenu">
			                <li><a href="#">Create Campagin</a></li>
			                <li><a href="#">Manage Sop</a></li>
			            </ul>
	    			</div>
				</div>
			</div>
		</div>
		<!-- /submenu -->
	</div>
</body>
</html>